<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebarFragment">
    <div class="sidebar">
        <div class="head">
            <a href="/" class="btn btn-danger">Monitoring Home</a>
        </div>
        <div id="list">
            <ul class="nav flex-column">
                <!-- 중계서버 모니터링 메뉴 -->
                <li class="nav-item">
                    <a href="#menu3" class="nav-link expanded"><i class="fa fa-fire"></i>중계서버<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a>
                </li>
                <li class="sub" id="menu3">
                    <a href="/batch/result" class="nav-link" data-parent="#menu3">배치현황</a>
                    <a href="/batch/log" class="nav-link" data-parent="#menu3">배치로그</a>
                    <a href="/batch/schedule" class="nav-link" data-parent="#menu3">배치스케줄</a>
                </li>
                <!-- CRM 모니터링 메뉴 -->
                <li class="nav-item">
                    <a href="#menu4" class="nav-link expanded"><i class="fa fa-fire"></i>CRM<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a>
                </li>
                <li class="sub" id="menu4">
                    <a href="#" th:onclick="beforeOpenTempAlert()" class="nav-link" data-parent="#menu4">배치현황</a>
                    <a href="#" th:onclick="beforeOpenTempAlert()" class="nav-link" data-parent="#menu4">배치로그</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        function beforeOpenTempAlert() {
            alert('오픈하지 않은 메뉴입니다.')
        }
    </script>
</nav>
</html>