<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebarFragment">
    <div class="sidebar">
        <div class="head">
            <div class="logo">
            </div>
            <a href="/" class="btn btn-danger">Monitoring Home</a>
        </div>
        <div id="list">
            <ul class="nav flex-column">
                <!-- 중계서버 모니터링 메뉴 -->
                <li class="nav-item">
                    <a href="#menu3" class="nav-link collapsed" data-toggle="collapse" aria-expanded="true"><i class="fa fa-fire"></i>중계서버<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a>
                </li>
                <li class="sub collapse" id="menu3">
                    <a href="/batch/result" class="nav-link" data-parent="#menu3">배치현황</a>
                    <a href="ui-cards.html" class="nav-link" data-parent="#menu3">배치로그</a>
                </li>
                <!-- CRM 모니터링 메뉴 -->
                <li class="nav-item">
                    <a href="#menu4" class="nav-link collapsed" data-toggle="collapse" aria-expanded="true"><i class="fa fa-fire"></i>CRM<span class="sub-ico"><i class="fa fa-angle-down"></i></span></a>
                </li>
                <li class="sub collapse" id="menu4">
                    <a href="ui-alerts.html" class="nav-link" data-parent="#menu4">배치현황</a>
                    <a href="ui-cards.html" class="nav-link" data-parent="#menu4">배치로그</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>