<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="topbarFragment">
    <!-- start content head -->
    <div class="head">
        <!-- head top -->
        <div class="top">
            <div class="left">
                <button id="on" class="btn btn-info"><i class="fa fa-bars"></i></button>
                <button id="off" class="btn btn-info hide"><i class="fa fa-align-left"></i></button>
            </div>
            <div class="right">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">★</button>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">중계서버 배치현황</a>
                        <a class="dropdown-item" href="#">CRM 배치현황</a>
                        <a class="dropdown-item" href="#">모니터링 시스템 메인</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end head top -->
    </div>
    <!-- end content head -->
</nav>
</html>