<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="title">
  <title>WorldVision Monitoring System</title>
</th:block>
<div layout:fragment="content">
  <section id="admin">
    <nav th:replace="fragments/sidebar :: sidebarFragment" />
    <div class="content">
      <nav th:replace="fragments/topbar :: topbarFragment" />
      <div class="bottom">
        <div class="left">
          <b><h1>WorldVision Monitoring System</h1></b>
        </div>
        <div class="right">
        </div>
      </div>
      <div id="real">
        <div class="row">
          <div class="col-lg-12">
            <div class="regsterUsers">
              <div class="card">
                <div class="card-top">
                  <h1 th:text="${batchCount}"></h1>
                  <i class="fa fa-users"></i>
                </div>
                <div class="card-bottom">
                  <p>CRM/중계 Batch Count</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="analytics">
              <div class="card">
                <div class="icon"><i class="fa fa-video"></i></div>
                <div class="text">
                  <h1 th:text="${todayBatchCount}"></h1>
                  <p>중계서버 동작현황</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="col-lg-3">
            <div class="analytics">
              <div class="card">
                <div class="icon"><i class="fab fa-vimeo-v"></i></div>
                <div class="text">
                  <h1>-</h1>
                  <p>CRM 동작현황</p>
                </div>
              </div>
            </div>
          </div>
          -->
          <div class="col-lg-4">
            <div class="analytics">
              <div class="card">
                <div class="icon"><i class="fa fa-users"></i></div>
                <div class="text">
                  <h1 th:text="${successCount}"></h1>
                  <p>TOTAL COMPLETED</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="analytics">
              <div class="card">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <div class="text">
                  <h1 th:text="${failCount}"></h1>
                  <p>TOTAL FAILED</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          </div>
          <div class="col-lg-12">
            <div id="chart"></div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <div id="IndexChartOne" style="height: 320px"></div>
            </div>
          </div>
          -->
      </div>
    </div>
    </div>
    <script type="text/javascript" src="/js/highcharts.js"></script>
    <script type="text/javascript" src="/js/chart.js"></script>
    <!--
        <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
        <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script> -->
  </section>
  <!-- toastui 테스트
  <script>
    /* namespace */
    const Chart = toastui.Chart;

    const el = document.getElementById('chart');
    const data = {
      categories: ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      series: [
        {
          name: 'Budget',
          data: [5000, 3000, 5000, 7000, 6000, 4000, 1000],
        },
        {
          name: 'Income',
          data: [8000, 4000, 7000, 2000, 6000, 3000, 5000],
        },
      ],
    };
    const options = {
      chart: { width: 700, height: 400 },
    };

    const chart = Chart.barChart({ el, data, options });
    // const chart = new BarChart({ el, data, options }); // 두 번째 방법
  </script>
  -->
</div>

</html>
