<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="title">
    <title>Batch Log- 중계서버</title>
</th:block>
<th:block layout:fragment="script">
    <script>
    </script>
</th:block>
<div layout:fragment="content">
    <body>
        <section id="admin">
            <nav th:replace="fragments/sidebar :: sidebarFragment" />
            <div class="content">
                <nav th:replace="fragments/topbar :: topbarFragment" />
                <div class="bottom">
                    <div class="left">
                        <b><h1>Batch Log- 중계서버</h1></b>
                    </div>
                    <div class="right">
                    </div>
                </div>
                <div id="real">
                    <div class="row">
                        <div class="col-lg-4">
                            <a th:id="fileName" th:href="@{/batch/log/batch.log}">
                                <div class="analytics">
                                    <div class="card">
                                        <div class="icon"><i class="fa fa-file"></i></div>
                                        <div class="text">
                                            <p>batch.log</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a th:id="fileName" th:href="@{/batch/log/batch_warn.log}">
                                <div class="analytics">
                                    <div class="card">
                                        <div class="icon"><i class="fa fa-file"></i></div>
                                        <div class="text">
                                            <p>batch_warn.log</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a th:id="fileName" th:href="@{/batch/log/batch_error.log}">
                                <div class="analytics">
                                    <div class="card">
                                        <div class="icon"><i class="fa fa-file"></i></div>
                                        <div class="text">
                                            <p>batch_error.log</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="jsGrid"></div>
                    <!--
                    <table style="background-color: whitesmoke; width: 100%">
                        <tr th:each="log : ${logList}" >
                            <td th:text="${log}"></td>
                        </tr>
                    </table>
                    -->
                </div>
            </div>
        </section>
        <script th:inline="javascript">
            let db = [[ ${logList} ]];

            $("#jsGrid").jsGrid({
                width: "100%",
                height: "700px",

                filtering: false,
                editing: false,
                sorting: true,
                paging: false,

                pageSize: 40,
                pageButtonCount: 10,

                data: db,

                fields: [
                    { name: "log", title: "SEQ", type: "text", align: "left"}
                ]
            });

            $("#sort").click(function() {
                var field = $("#sortingField").val();
                $("#jsGrid").jsGrid("sort", field);
            });
        </script>
    </body>
</div>
</html>